header
  nav.navbar.navbar-light style='background-color:#e37222;'
    /= link_to "sample app", root_path, style: 'color:#fff;'
    = link_to "Team NiSP", root_path, class: 'navbar-brand', style: 'color:#fff !important;'